[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
mlflow = "*"
scikit-learn = "==1.0.2"
xgboost = "*"
pandas = "*"
setuptools = "==49.1.0"
prefect = "*"
hyperopt = "*"
prefect-aws = "*"
psycopg2-binary = "*"
evidently = "*"
psycopg = "*"
psycopg_binary = "*"

[dev-packages]
pytest = "*"
deepdiff = "*"
pylint = "*"
black = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.9"
